NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://cjmvrrtfyureiknqrloo.supabase.co/

NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XoJYOnV1g-QxlZgEK0AyBA_SXFl_qpi

SUPABASE_SERVICE_ROLE_KEY=sb_secret_evOh4qFx0TmxDOchskP6dw_JTBYl_4l

ADMIN_EMAIL=admin@reviooo.com
